.container {
  --ring-thickness: 20%;

  background-color: var(--color-off-white);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  transition: background 0.3s ease;
  max-width: 150px;
  width: 100%;
}
.container:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.container:after {
  background-color: var(--color-white);
  border-radius: 50%;
  content: '';
  display: block;
  height: calc(100% - var(--ring-thickness));
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - var(--ring-thickness));
}

.label {
  font-size: 3rem;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}