.header {
  background-color: var(--color-blue);
  color: var(--color-white);
  margin-bottom: -7rem;
  padding-top: 3rem;
  padding-bottom: 10rem;
  position: relative;
}
.header video {
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header :global(.container) {
  position: relative;
}
.header p {
  margin-bottom: 2rem;
}

.comparisons {
  padding-bottom: 5rem;
}

.list {
  --list-columns: 1;
  --list-gap: 2rem;

  align-items: stretch;
  display: flex;
  gap: var(--list-gap);
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.item {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.05);
  color: var(--color-dark-gray);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 4rem;
  position: relative;
  width: calc((100% - (var(--list-gap) * (var(--list-columns) - 1))) / var(--list-columns));
}
.item h2 {
  top: 1rem;
  font-size: 1.6rem;
  position: absolute;
  left: 2rem;
}

.missing {
  font-size: 1.4rem;
}

@media screen and (min-width: 768px) {
  .list {
    --list-columns: 3;
  }
}
